{% extends 'base.html' %}

{% block title %}
    {{ center.name }} - Actualizar
{% endblock %}

{% block content %}
    <div class="mui-container-fluid">
        <form class="mui-form" action="" method="post"> {% csrf_token %}
            {{ form.non_field_errors }}
            <legend>Actualizar Centro Turístico</legend>

            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="mui-textfield mui-textfield--float-label">
                    {{ field }}
                    <label for="{{ field.name }}">{{ field.label }}</label>
                </div>

            {% endfor %}

            <button type="submit" class="mui-btn mui-btn--raised">Guardar</button>
        </form>
    </div>
{% endblock %}