{% extends 'base.html' %}

{% block title %}
    {{ center.name }} {{ center.user }}
{% endblock title %}

{% block content %}

    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-done-all"></i>
              </div>
              <div class="features-text">
                <h4>{{ center.name }} <a href="{% url 'Center:center_edit' center.slug %}" class="mui-btn mui-btn--small mui-btn--primary mui-btn--fab">✎</a></h4>
                <p>
                  {{ center.aditional_information|linebreaksbr }}
                </p>
              <div id="images">
                  {% for picture in pictures %}
                      <a href="{% url 'ver_imagen' picture.picture %}" target="_blank"><img src="{% url 'ver_imagen' picture.picture %}" alt="" style="width: 50px;"></a>
                  {% endfor %}
              </div>
                  
                  
                  
              </div>
            </div>

{% endblock %}
{% block map%}
    <div class="row" style="height: 700px !important; width: auto; margin: auto auto;">

<div id="map" class="row" style="height: 85%; width: 60%;"></div>
    </div>

    </div>




    <script type="text/javascript">

    var map;
    function initMap() {
        var centro = {lat: {{ center.geolocation.lat }}, lng: {{ center.geolocation.lon }}};
        map = new google.maps.Map(document.getElementById('map'), {
            center: centro ,
            zoom: 15
        });
        var marker = new google.maps.Marker({map: map, position: centro});
            marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }

    </script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSlaE2htDqFC-acT2vS_nXdlFClj12KU8&callback=initMap">
    </script>
  {% endblock %}
