{% extends 'base.html' %}
{% load app_filters %}

{% block title %}
    Destinos Turísticos del Cantón Morona
{% endblock title %}

{% block content_title %}
    Destinos Turísticos Gratuitos
{% endblock %}


{% block content %}
    {% for center in centers %}
        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="features">

                <div class="icon">

                </div>

                <div class="features-text">
                    <h4><a href="{% url 'Center:center_detail' center.slug %}"><i class="mdi-action-done-all"></i> {{ center.name }}</a> </h4>
                    <p style="text-align : justify;">
                        {{ center.aditional_information|linebreaksbr }}
                    </p>
                    <br>
                    <p>
                        {% if center.id|services %}
                            <b>Servicios: </b><br>
                            {% for service in center.id|services %}
                               <i class="fa fa-thumb-tack" aria-hidden="true"></i> {{ service.name }} <br>
                            {% endfor %}
                        {% endif %}



                    </p>

                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}


