{% extends 'base.html' %}

{% block title %}
    Crear Centro Turístico
{% endblock title %}

{% block content %}
    <div class="mui-container-fluid">
    <form class="mui-form" action="" method="post"> {% csrf_token %}
      <legend>Crear Centro Turístico</legend>
      <div class="mui-textfield mui-textfield--float-label">
        <textarea cols="40" id="id_name" name="name" rows="10" required=""></textarea>
        <label>Nombre del Centro Turístico</label>
      </div>


       <div class="mui-textfield mui-textfield--float-label">
        <input id="id_addres" maxlength="200" name="addres" type="text" required="">
        <label>Dirección (Coordenadas)</label>
      </div>


      <div class="mui-textfield mui-textfield--float-label">

          <input id="id_geolocation" maxlength="100" name="geolocation" type="text" required="">
        <label>Geolocalización (Coordenadas)</label>
      </div>
      <button type="submit" class="mui-btn mui-btn--raised">Crear</button>
    </form>
    </div>

{% endblock %}