{% extends 'base.html' %}
{% load app_filters %}
{% block title %}
    {{ center.name }}
{% endblock title %}

{% block content %}

    <style>
    .gallery
{
    display: inline-block;
    margin-top: 20px;
}
    </style>

    <div class="col-md-12 col-sm-12 wow fadeInDown">
        <div class="features">
            <div class="icon">
                <i class="mdi-action-done-all"></i>
            </div>
            <div class="features-text">
                <h4>{{ center.name }}
                    {% if center.user == request.user.profile %}
                        <a href="{% url 'Center:center_edit' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    {% endif %}
                </h4>

                <p style="text-align: justify;">
                  {{ center.aditional_information|linebreaksbr }}
                </p>

            {% if center.servicecenter_set.all %}
                <br><br><br><br><div class="table-responsive" style="max-width: 60%; margin: auto auto;">
                    <br><h3 style="text-align: center;"><b>Servicios </b></h3><br><br>
                    <!-- Table -->
                  <table class="table">
                    <tr align="center">
                        <td><b>Servicio</b></td>
                        <td><b>Precio</b></td>
                        <td><b>Información Adicional</b></td>
                        {% if center.user == request.user.profile %}
                            <td><b>Gestión</b></td>
                        {% endif %}
                    </tr>
                    {% for service in center.servicecenter_set.all %}
                        <tr align="center">
                            <td>{{ service }}</td>
                            <td>{{ service.cost }}</td>
                            <td>{{ service.observation }}</td>
                                {% if center.user == request.user.profile %}
                                    <td>
                                        <b>
                                            <a href="{% url 'Service:center_service_edit' service.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        </b>
                                    </td>
                                {% endif %}
                          </tr>
                    {% endfor %}
                  </table>


                </div>
          {% endif %}

          </div>
        </div>
    </div>

    <div id="links" class="col-md-12 col-sm-12">

        <div class="features">
              <div class="icon">

              </div>
              <div class="features-text" style="margin: auto auto; text-align: center;">
                {% for picture in center.pictures.all %}

                <a href="{% url 'ver_imagen' picture.picture %}" title="{{ picture.description }}">
                    <img src="{% url 'ver_imagen' picture.picture %}" alt="{{ picture.description }}" style="max-width: 200px; border-style:dotted;border-width:2px;">
                </a>

                {% endfor %}

              </div>
        </div>


    </div>
    <script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

    <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>



{% endblock %}




{% block map%}

    <div class="col-md-12 col-sm-12" style="height: 500px;">

        <div class="features" style="height: 500px;">
              <div class="icon">

              </div>
              <div class="features-text" style="height: 500px;">
                <div id="map" class="row" style="height: 500px;"></div>

              </div>
        </div>


    </div>







    <script type="text/javascript">

    var map;
    function initMap() {
        var centro = {lat: {{ center.geolocation.lat }}, lng: {{ center.geolocation.lon }}};
        map = new google.maps.Map(document.getElementById('map'), {
            center: centro ,
            zoom: 15
        });
        var marker = new google.maps.Marker({map: map, position: centro});
            marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }

    </script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSlaE2htDqFC-acT2vS_nXdlFClj12KU8&callback=initMap">
    </script>
  {% endblock %}
