{% extends 'base.html' %}

{% block title %}
    {{ center_view.name }} - Crear Servicio
{% endblock title %}

{% block content %}

<div class="mui-container-fluid">


    {% if verification %}
    {% else %}



    <form class="mui-form" action="" method="post"> {% csrf_token %}

    <b style="color:red;">{{ form.non_field_errors }}</b>

    <div class="mui-textfield mui-textfield--float-label">
        <b>Nombre: </b><br>
        <b style="color:red;">{{ form.name.errors }}</b>
        {% for name in form.name %}
            {{ name }}
        {% endfor %}
    </div>

    <div class="mui-textfield mui-textfield--float-label">
        <b style="color:red;">{{ form.cost.errors }}</b>
        <input id="id_cost" name="cost" step="0.01" type="number" required value="{% if form.cost.value != 0.0 %}{{ form.cost.value }}{% endif %}">
        <label>Valor del Servicio</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <b style="color:red;">{{ form.observation.errors }}</b>
    <textarea cols="40" id="id_observation" name="observation" rows="10" required>{% if form.observation.value != " " %}{{ form.observation.value }}{% endif %}</textarea>
    <label>Observación</label>
    </div>


    <div class="mui-textfield mui-textfield--float-label" style="display: none !important;">
    {{ form.center.errors }}
        <select id="id_center" name="center" required>
        <option value="{{ center_view.id }}">{{ center_view.name }}</option>
    </select>
    </div>
        <button type="submit" class="mui-btn mui-btn--raised">Crear</button>
    </form>
    {% endif %}
</div>

{% endblock %}

