{% extends 'base.html' %}

{% block title %}
    {{ service }} - Crear Servicio
{% endblock title %}

{% block content %}

<div class="mui-container-fluid">


    {% if user.profile.center %}

    <form class="mui-form" action="" method="post"> {% csrf_token %}

    <b style="color:red;">{{ form.non_field_errors }}</b>


    <legend>Editar Servicio - {{ service }}</legend>

        {% for field in form %}
                <div class="mui-textfield mui-textfield--float-label">
                    <h2>{{ field.label }}</h2><b style="color:red;">{{ field.errors }}</b><br>
                    {{ field }}
                </div>
        {% endfor %}


        <button type="submit" class="mui-btn mui-btn--raised">Guardar</button>
    </form>

    {% else %}
        <meta http-equiv="REFRESH" content="0;url={% url "Center:center_detail" service.center.slug %}">
    {% endif %}

</div>

{% endblock %}

