{% extends 'base.html' %}

{% block title %}
    {{ center_view.name }} - Crear Servicio
{% endblock title %}

{% block content %}

<div class="mui-container-fluid">


    {% if verification %}
    {% else %}



    <form class="mui-form" action="" method="post"> {% csrf_token %}

    <div class="mui-textfield mui-textfield--float-label">
      {{ form.name.errors }}
    <textarea cols="40" id="id_name" name="name" rows="10" required>
        {% if form.name.value != None %}
            {{ form.name.value }}
        {% endif %}
    </textarea>
    <label>Nombre del Servicio</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
        {{ form.cost.errors }}
        <input id="id_cost" name="cost" step="0.01" type="number" required value=" {% if form.cost.value != None %}
                {{ form.cost.value }}
        {% endif %}">
        <label>Valor del Servicio</label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      {{ form.observation.errors }}
    <textarea cols="40" id="id_observation" name="observation" rows="10" required>
        {% if form.observation.value != None %}
            {{ form.observation.value }}
        {% endif %}
    </textarea>
    <label>Observación</label>
    </div>


    <div class="mui-textfield mui-textfield--float-label" style="display: none !important;">
    {{ form.center.errors }}
        <select id="id_center" name="center" required>
        <option value="{{ center_view.id }}">{{ center_view.name }}</option>
    </select>
    </div>
        <button type="submit" class="mui-btn mui-btn--raised">Crear</button>
    </form>
    {% endif %}
</div>

{% endblock %}

