{% extends 'base.html' %}

{% block title %}
    Validar Usuarios
{% endblock title %}

{% block content_title %}
    Registrados Recientemente
{% endblock %}


{% block content %}
        {% for usuario in usuarios %}
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="features">
              <div class="">
                <i class="mdi-action-done-all"> <a href="{% url  'User:add_permission' usuario.pk %}">{{ usuario.get_full_name }}</a></i>
              </div>
              <div class="features-text">
                <h4></h4>
                <p>

                </p>
              </div>
             </div>
          </div>
        {% endfor %}
{% endblock %}


